<div class='row'>
   <div class='col-sm-12'>    
    <table class='table table-striped table-bordered'>
      <tr>
        <td class='col-sm-4'><strong><%= t('.first_name') %></strong></td>
        <td><%= personal_reference.first_name %></td>
      </tr>     

      <tr>
        <td class='col-sm-4'><strong><%= t('.second_name') %></strong></td>
        <td><%= personal_reference.second_name %></td>
      </tr>    

      <tr>
        <td class='col-sm-4'><strong><%= t('.first_last_name') %></strong></td>
        <td><%= personal_reference.first_last_name %></td>
      </tr>

      <tr>
        <td class='col-sm-4'><strong><%= t('.second_last_name') %></strong></td>
        <td><%= personal_reference.second_last_name %></td>
      </tr>     

	  <tr>
        <td class='col-sm-4'><strong><%= t('.cell_phone_number') %></strong></td>
        <td><%= number_to_phone personal_reference.cell_phone_number %></td>
      </tr>	      
    </table>
  </div>  
</div>